SHOPIFY_STORE_DOMAIN=6c1sjh-w1.myshopify.com
SHOPIFY_STOREFRONT_PUBLIC_TOKEN=your_public_storefront_token_here
VITE_SHOPIFY_STORE_DOMAIN=6c1sjh-w1.myshopify.com
VITE_SHOPIFY_STOREFRONT_ACCESS_TOKEN=your_public_storefront_token_here
SHOPIFY_API_VERSION=2026-07
SHOPIFY_SHOP=6c1sjh-w1.myshopify.com
SHOPIFY_CLIENT_ID=your_client_id_here
SHOPIFY_CLIENT_SECRET=your_client_secret_here
